.table {
  &__col {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__title {
    font-size: 0.75rem;
  }
  &__icon {
    width: 2rem;
    height: 2rem;
  }
  &__search {
    width: 25rem;
    font-size: 1rem;
    padding: 0.5rem;
    outline: 0;
    background: transparent;
    margin-bottom: 1rem;
    border: 1px solid gray;
    border-radius: 2rem;
    color: white;
  }
}

.negative {
  color: red;
}

.positive {
  color: rgb(94, 248, 94);
}
